<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta name="author" content="Tommy Bartlett III">
    <title>{{page.title}}</title>

    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href ="/assets/css/main.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Sniglet:800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Ubuntu+Condensed' rel='stylesheet' type='text/css'>
  </head>
